<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <section class="centered">
        <form class="form" method="post">
            <h1>Coulomb</h1>
            <input type="text" name="username" placeholder="Username"><br>
            <div class="passwordLine">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <label class="lock" onclick="toggleVisibility(event)">&#x1F441;</label>
            <div class="login">
                <button name="mode" value="LOGIN">Login</button>
                <button name="mode" value="REGISTER">Register</button>
            </div>
            <br>
            <label class="error" id="error">{{ error }}</label>
        </form>
    </section>

    <script type="text/javascript">
        /**
         * Toggles the visibility of a password field on click.
         * @param {Event} event - The event object triggered by the user action.
         *                        Used to access the element that triggered the event.
         * @returns {void}
         */
        function toggleVisibility(event) {
            let x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
                event.target.innerHTML = "&#x1F512;";
            } else {
                x.type = "password";
                event.target.innerHTML = "&#x1F441;";
            }
        }

    </script>
</body>

</html>