<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Add Events</title>
</head>

<body>
    <div class="container">
        <form method="POST" action="/new">
            <div class="tournament-name">
                <label class="tournament_name">Tournament Name:</label><br>
                <input type="text" name="name"><br>
            </div>
            <span class="add">&plus;</span>
            <div class="event_form">
                <label>Add Event:</label>
                <input type="text" name="event">
                <span class="delete">&times;</span>
            </div>
            <div class="submit">
                <button name="submit" value="SUBMIT">Submit</button>
            </div>
        </form>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".add").click(function () {
            let first = document.querySelector('form > .event_form');
            let clone = first.cloneNode(true);

            first.parentNode.insertBefore(clone, first);
            return false;
        });

        // Event delegation for .delete elements
        $('form').on('click', '.delete', function () {
            $(this).parent().remove();
        });
    });
</script>

</html>