<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ user }}</title>
</head>

<body>
    <h1>
        {{ user }}'s History:
    </h1>
    {# <div id="container">
        <form action="/logout" method="post" id="user">
            <br>
            <button name="LOGOUT" value="logout" id="logout">Logout</button>
        </form> #}
    </div>

    <div class="grid-container">
        {% for cell in participated_events %}
        <div class="grid-item"> <a href="/tournaments/{{cell}}"> {{cell}} </a></div>
        {% endfor %}
    </div>
    <a href="/" class="prof">List of All Tournaments</a>

</body>

</html>