<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ user }}</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        body {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #F5F5F5;
            padding-left: 1em;
            position: relative;
        }

        h1 {
            color: #000;
            margin-bottom: 1em;
        }

        .prof {
            text-decoration: underline;
            color: #14213D;
            margin-top: 2em;
        }

        .prof:hover {
            cursor: pointer;
            font-weight: bold;
        }

        .container {
            width: 100%;
            max-width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .table-item {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        table {
            width: 100%;
            margin-bottom: 2em;
            border: 1px solid #000;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 0.75em;
            text-align: left;
            border: 1px solid #000;
        }

        th {
            background-color: #FCA311;
            color: #000;
        }

        td {
            background-color: #F5F5F5;
            color: #000;
        }

        a {
            text-decoration: underline;
            color: inherit;
        }

        .login {
            margin-top: 0.5em;
            color: #14213D;
            text-decoration: underline;
        }

        .login:hover {
            cursor: pointer;
            font-weight: bold;
        }

        .participant {
            position: absolute;
            bottom: 5em;
            right: 1em;
            padding: 0.75em 1em;
            background-color: #FCA311;
            color: #000;
            font-size: 1em;
            font-weight: bold;
            border: black solid 1px;
            border-radius: 0.5em;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .participant:hover {
            background-color: #ef9603;
        }

        .participant_list {
            position: absolute;
            bottom: 1em;
            right: 1em;
            padding: 0.75em 1em;
            background-color: #FCA311;
            color: #000;
            font-size: 1em;
            font-weight: bold;
            border: black solid 1px;
            border-radius: 0.5em;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .participant_list:hover {
            background-color: #ef9603;
        }

        .prof {
            position: absolute;
            bottom: 1em;
            right: 15em;
            padding: 0.75em 1em;
            background-color: #FCA311;
            color: #000;
            font-size: 1em;
            font-weight: bold;
            border: black solid 1px;
            border-radius: 0.5em;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .prof:hover {
            background-color: #ef9603;
        }
    </style>
</head>

<body>
    <span>
        <h1>
            {{ user | replace('_', ' ') }}'s History:
        </h1>
    </span>
    <div class="container">
        {# This code makes a table for each tournament the team participated in. #}
        {% for tournament in participated_events %}
        <div class="table-item"><a href="/tournaments/{{tournament}}">{{tournament | replace('_', ' ') }}</a></div>
        <table>
            {# Table Headers #}
            <tr>
                {% for event in tournament_events[tournament] %}
                <th>{{event | replace('_', ' ') }}</th>
                {% endfor %}
            </tr>
            {# Actual data #}
            <tr>
                {% for placement in placements[tournament] %}
                <td>{{placement}}</td>
                {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
    <a href="/" class="prof">List of All Tournaments</a>
    {% if is_logged %}
    <a class="login" href="/logout">Log Out</a>
    {% else %}
    <a class="login" href="/login">Log In</a>
    {% endif %}
    <a class="participant" href="/add_participant/">Add Participant</a>
    <a class="participant_list" href="/participant_list/{{user}}">See All Participants</a>
</body>

</html>