<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tournaments Directory</title>
    <style>
        body {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-family: Verdana, sans-serif;
            background-color: #001219;
            color: #94d2bd;
            padding: 10px;
            margin: 0;
            min-height: 100vh;
            text-align: left;
        }

        #users {
            padding: 20px;
            background-color: #005f73;
            border-radius: 10px;
            border: 3px solid #0a9396;
            width: auto;
        }

        a {
            color: #ee9b00;
            font-size: 1.2em;
            text-decoration: none;
            display: block;
            margin-bottom: 5px;
        }

        a:hover {
            color: #ca6702;
        }

        label {
            font-size: 1.8em;
            font-weight: bold;
            color: #e9d8a6;
        }
    </style>
</head>

<body>
    <div id="tournaments">
        <label>Profiles:</label>
        <script type="text/javascript">
            const profiles = {{ tournaments }};
            const container = document.getElementById("tournaments");
            // Appends every profile stored in the database, one by one, and gives them a link.
            profiles.forEach(profile => {
                let link = document.createElement('a');
                link.textContent = profile;
                link.href = "/" + profile + "/profile";
                container.appendChild(link);
            });
        </script>
    </div>
</body>

</html>