<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tournaments Directory</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Verdana, sans-serif;
            background-color: #fff;
            /* Background color */
            color: #000;
            /* Text color */
            padding: 20px;
            margin: 0;
            min-height: 100vh;
            text-align: center;
        }

        .button-container {
            margin-bottom: 20px;
        }

        button {
            background-color: #FCA311;
            /* Button color */
            color: #fff;
            /* Button text color */
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1.2em;
            cursor: pointer;
        }

        button:hover {
            background-color: #14213D;
            /* Button hover color */
        }

        #tournaments {
            padding: 20px;
            background-color: #E5E5E5;
            /* Background color */
            border-radius: 10px;
            border: 3px solid #000;
            /* Border color */
            width: 300px;
            text-align: left;
        }

        label {
            font-size: 1.5em;
            font-weight: bold;
            color: #000;
            /* Label color */
            margin-bottom: 10px;
            display: block;
        }

        a {
            color: #14213D;
            /* Link color */
            font-size: 1.2em;
            text-decoration: none;
            display: block;
            margin-bottom: 5px;
        }

        a:hover {
            color: #FCA311;
            /* Link hover color */
        }
    </style>
</head>

<body>
    <div class="button-container">
        <button value="CREATE">Create Tournament</button>
    </div>
    <div id="tournaments">
        <label>List of All Tournaments</label>
        <script type="text/javascript">
            const profiles = {{ tournaments }};
            const container = document.getElementById("tournaments");
            // Appends every profile stored in the database, one by one, and gives them a link.
            profiles.forEach(profile => {
                let link = document.createElement('a');
                link.textContent = profile;
                link.href = "/tournaments/" + profile;
                container.appendChild(link);
            });
        </script>
    </div>
</body>

</html>